main {
  min-height: 80vh;
}

.cards_container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-header {
  display: flex;
}

.card-header-title {
  display: block;
  padding-left: 0.5rem;
}

.hero_list {
  margin-bottom: 0.1rem;
}

.accountId_form {
  display: block;
}
.form_container {
  display: grid;
  place-items: center;
}

.formLabel,
.formInputName {
  margin-right: 0.5rem;
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.help-img {
  width: 80%;
}