main {
  min-height: 80vh;
}

.cards_container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.card-header {
  display: flex;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header-title {
  display: block;
  padding-left: .5rem;

}

.hero_list {
  margin-bottom: .1rem;
}

